.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    height: auto;
    margin-top: -4px;
    padding-right: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 17px;
    padding-right: 20px;
    padding-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #eaeaea;
    height: calc(1.5em + 0.75rem + 2px);
}